.card {
    width: 22%;
    background-color: #443EC4;
    border-radius: .2em;
}

img {
    height: 35%;
}

.card-button {
    margin-top: .5em;
    border: none;
    padding: 6px 10px;
    color: #fff;
    background-color: #E70000;
    border-radius: 5em;
}