
.reset-btn {
    border: none;
    height: 30px;
    width: 100px;
    padding: 2px 5px;
    margin: 4px 2px;
    background-color: #443EC4;
    border-radius: .2em;
    color: #fff;
    transition: background-color 200ms;
}

.reset-btn:hover {
    background-color: #615CD7;
}