nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.link-btn {
    border: none;
    height: 30px;
    width: 100px;
    padding: 2px 5px;
    margin: 4px 2px;
    background-color: #443EC4;
    border-radius: .2em;
    color: #fff;
    transition: background-color 200ms;
}

.link-btn:hover {
    background-color: #615CD7;
}

.logout-btn {
    border: none;
    height: 30px;
    width: 100px;
    padding: 2px 5px;
    margin: 4px 2px;
    background-color: #FF350A;
    border-radius: .2em;
    color: #fff;
    transition: background-color 200ms;
}

.logout-btn:hover {
    background-color: #FF5733;
}