.wrapper {
    margin: 5em;
    background-color: #0C0B1F;
    height: 30em;
    border-radius: 5em;
    position: relative;
}

.form {
    position: absolute;
    top: 30%;
    left: 43%;
}

.title {
    color: #ddd;
    font-size: 2rem;
}

.login-input {
    background-color: #1C1A46;
    margin-top: 1em;
    border: none;
    text-align: center;
    border-radius: 5em;
    height: 35px;
    width: 200px;
    color: #fff;
    padding: 5px;
}

.login-btn {
    background-color: #29FF25;
    border: none;
    color: #1C1A46;
    border-radius: 5em;
    height: 35px;
    width: 200px;
    padding: 5px 10px;
    margin-top: 1em;
    transition: background-color 200ms;
}

.login-btn:hover {
    background-color: #5AFF57;
}

.err {
    color: #ff0000;
}